a {
    text-decoration: none !important;
}

.container {
    margin: 10px;
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-menu {
    margin-right: 15px;
    font-size: 14px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    color: white;
}

.btn {
    margin-top: 10px;
    margin-right: 15px;
}